* {
    box-sizing: border-box; /* Width and height are include padding and border, so size elemtns stays consistent*/
}

/* Used for login and register page */
.mainContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.forumContainer {
    position: relative;
    height: 470px;
    width: 350px;
    background-color: white;
    border-radius: 20px;
    z-index: 0; /* Lower z-index to allow ::before to be above it */
    overflow: hidden;
}

.forumContainer::before {
    content: '';
    position: absolute;
    top: -130px;
    left: 120px;
    width: 170px;
    height: 160%;
    background: #CC5500;
    animation: rotate 6s linear infinite;
    z-index: 1; /* Higher z-index to appear above the content */
}

.forumContainer .content {
    position: relative; /* Makes content appear above ::before */
    z-index: 3; /* Content should be above the background */
}

.forumContainer::after {
    content: '';
    position: absolute;
    background: white;
    inset: 5px;
    border-radius: 15px;
    z-index: 2; /* Keeps the border above everything */
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.titleContainer {
    display: flex;
    font-size: 64px;
    flex-direction: column;
    font-weight: bolder;
    align-items: center;
    justify-content: center;
    margin: 80px 0 20px 0 ;
    gap: 5px;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.inputContainer .inputBox {
    width: 225px;
}

.errorLabel {
    color: red;
    font-size: 12px;
  }

.submitButton {
    display: flex;
    width: 100%;
    justify-content: center;
}

/* Used for home page */
.mainContainerGrid {
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* 7 equal width columns */
    margin-left: 1.5rem;        
    margin-right: 1.5rem;  
}

.mainContainerGrid .left {
    /* background-color: lightcoral;                  */
    grid-column: span 1;
}

.mainContainerGrid .right {
    /* background-color: lightblue; */
    grid-column: span 6;
}

.radioBoxContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 1rem;
}

.itemsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    align-items: flex-start; /* Prevent items from stretching vertically */
}

.item {
    flex: 0 1 calc(33.33% - 16px); /* Ensures 3 items per row with gap considered */
    box-sizing: border-box; /* To account for padding and gap in the width */
    background-color: #f0f0f0;
    padding: 16px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.placeHolder {
    width: 300px;
    height: 300px;
    background-color: gray;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-family: Arial, sans-serif;
    border: 1px solid #ccc; 
}

.addCartButton{
    margin: 5px;
    padding: 10px;
    border: 0px solid;
    border-radius: 15px;
    background-color: gold;
}

.addCartButton:hover {
    filter: brightness(0.9);
}

.infoBox {
    font-size: small;
    border-radius: 8px;
    padding: 5px;
    max-width: 400px;
    margin-top: 5px;
}

.rightFilterBars {
display: flex;
gap: 20px;
padding: 1rem;
position: sticky;
top: 0;
z-index: 3;
  }
  
  @media (max-width: 640px) {
    .rightFilterBars {
      display: none;
    }
  }



