.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}

.navbar-home {
    flex: 1;
}

.navbar-right {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    align-items: center;
}

.navbar-loginRegister {
    display: flex;
 
}

/* Dynamic paging */
/* .... */

